<ion-header>
    <ion-toolbar>
        <ion-title>Edit Task</ion-title>
        <ion-buttons slot="end">
            <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-list>
        <!-- Task Title -->
        <ion-item>
            <ion-label position="stacked">Task Title</ion-label>
            <ion-input type="text" placeholder="Enter task title" [(ngModel)]="taskObj.title" name="title" required
                #title="ngModel"></ion-input>
        </ion-item>

        <!-- Task Description -->
        <ion-item>
            <ion-label position="stacked">Task Description</ion-label>
            <ion-textarea placeholder="Enter task description" [(ngModel)]="taskObj.description" name="description"
                required #description="ngModel"></ion-textarea>
        </ion-item>

        <!-- Due Date -->
        <ion-item>
            <ion-label position="stacked">Due Date</ion-label>
            <ion-datetime [min]="minDate" display-format="MM/DD/YYYY" placeholder="Select due date"
                [(ngModel)]="taskObj.date" name="date" required #date="ngModel"></ion-datetime>
        </ion-item>

        <!-- Priority -->
        <ion-item>
            <ion-label position="stacked">Priority</ion-label>
            <ion-select placeholder="Select priority" [(ngModel)]="taskObj.priority" name="priority" required
                #priority="ngModel">
                <ion-select-option value="Low">Low</ion-select-option>
                <ion-select-option value="Medium" selected>Medium</ion-select-option>
                <ion-select-option value="High">High</ion-select-option>
            </ion-select>
        </ion-item>

        <!-- Category -->
        <ion-item>
            <ion-label position="stacked">Category</ion-label>
            <ion-select placeholder="Select category" [(ngModel)]="taskObj.category" name="category" required
                #category="ngModel">
                <ion-select-option value="All">All</ion-select-option>
                <ion-select-option value="Work">Work</ion-select-option>
                <ion-select-option value="Personal">Personal</ion-select-option>
                <ion-select-option value="Health/Fitness">Health/Fitness</ion-select-option>
                <ion-select-option value="Shopping">Shopping</ion-select-option>
                <ion-select-option value="Home">Home</ion-select-option>
                <ion-select-option value="Finance">Finance</ion-select-option>
                <ion-select-option value="Education">Education</ion-select-option>
                <ion-select-option value="Travel">Travel</ion-select-option>
                <ion-select-option value="Hobbies">Hobbies</ion-select-option>
                <ion-select-option value="Social">Social</ion-select-option>
                <ion-select-option value="Errands">Errands</ion-select-option>
                <ion-select-option value="Events">Events</ion-select-option>
                <ion-select-option value="Goals">Goals</ion-select-option>
                <ion-select-option value="Miscellaneous">Miscellaneous</ion-select-option>
                <ion-select-option value="Family">Family</ion-select-option>
                <ion-select-option value="Projects">Projects</ion-select-option>
                <ion-select-option value="Maintenance">Maintenance</ion-select-option>
                <ion-select-option value="Entertainment">Entertainment</ion-select-option>
                <ion-select-option value="Volunteer">Volunteer</ion-select-option>
                <ion-select-option value="Self-Care">Self-Care</ion-select-option>
                <ion-select-option value="Pets">Pets</ion-select-option>
                <ion-select-option value="Appointments">Appointments</ion-select-option>
                <ion-select-option value="Other">Other</ion-select-option>
            </ion-select>
        </ion-item>

        <!-- Image Upload -->
        <input type="file" name="TaskImg" id="taskImg" (change)="onFileSelected($event)">
        <ion-img [src]="taskObj.downloadedPhoto"></ion-img>

        <!-- Update Task Button -->
        <ion-button expand="full" color="primary"
            [disabled]="!title.valid || !description.valid || !date.valid || !priority.valid || !category.valid || !hasChanges()"
            (click)="updateTask()">
            Update Task
        </ion-button>
        <ion-button expand="full" color="success"  (click)="markAsDone()">
            Mark As Done
        </ion-button>
    </ion-list>
</ion-content>