<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="ion-padding">DeListify</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="back()" class="ion-padding" color="light">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text color="light" class="ion-text-center">
    <h1>Forgot Password</h1>
  </ion-text>

  <ion-item>
    <ion-input label="Email" labelPlacement="floating" type="text" [(ngModel)]="emailForgotPassword"></ion-input>
    <ion-icon slot="end" name="mail"></ion-icon>
  </ion-item>
    <ion-button [disabled]="resetPasswordIsDisabled" (click)="resetPassword()" shape="round" expand="block" class="ion-margin-vertical">
      {{ resetPasswordIsDisabled ? 'Retry in ' + countdown + 's' : 'Submit' }}
    </ion-button>
</ion-content>