<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
    <ion-toolbar>
      <ion-title size="large" class="ion-padding">DeListify</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()" class="ion-padding" shape="round">Logout
          <ion-icon slot="start" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>

</ion-header>
<ion-content class="ion-padding">
  <ion-searchbar placeholder="Search task" inputmode="decimal" type="decimal" (ionInput)="onSearchChange($event)"
  [debounce]="250"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let task of filteredTasks">
        <ion-card>

          <ion-card-header>
            <ion-checkbox (ionChange)="checkComplete($event, task.id)">Complete</ion-checkbox>

            <ion-card-title>{{task.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="light">
              <p>Description: {{task.description}}</p>
              <p>Due Date: {{task.date}}</p>
              <p>Priority: {{task.priority}}</p>
              <p>Category: {{task.category}}</p>
              <p>Image</p>
            </ion-text>
            <ion-img [src]="task.imgUrl"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text color="light" *ngIf="taskLength<= 0">
    <div>No added tasks yet.</div>
  </ion-text>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
